section.myAccount
    .content
        .detail-block
            .detail-block__title
                h2 Thông tin tài khoản
            .detail-block__content
                .container-fluid
                    .row
                        strong.col-sm-3 Họ và tên
                        p.col-sm-6 Nguyễn Văn A
                    .row
                        strong.col-sm-3 Email
                        p.col-sm-6 vana123@gmail.com
                    .row
                        strong.col-sm-3 Vai trò
                        p.col-sm-6 Admin
                    .myAccount__Link
                        a(href="#") Thay đổi thông tin tài khoản
                    .myAccount__Link
                        a(href="#") Thay đổi mật khẩu