section.admin-add-term-services
    .container-fluid
        h1.section-title ĐIỀU KHOẢN VÀ ĐIỀU KIỆN
        form
            .row.center-xs
                .col-sm-6
                    .form-group
                        label 1. Điều khoản sử dụng
                        input#term.form-control(name="nameInvesment")
                        span.error-messeage Lỗi
                    .form-group
                        label 2. Bản quyền
                        input#copyright.form-control(name="nameInvesment")
                        span.error-messeage Lỗi
                    .form-group
                        label 3. Bảo mật
                        input#policy.form-control(name="nameInvesment")
                        span.error-messeage Lỗi
                    .form-group
                        label 4. Text
                        input#name-invesment.form-control(name="nameInvesment")
                        span.error-messeage Lỗi
                    .form-group
                        label 5. Text
                        input#name-invesment.form-control(name="nameInvesment")
                        span.error-messeage Lỗi
                    label.admin-add-term-services__agree-btn
                        input#agreeBtn(type="checkbox", name="nameInvesment")
                        | Tôi đồng ý với điều kiện và điều khoản trên
                    p 
                        | Xem 
                        a(href="#") Hợp đồng điện tử
                    .tn-part.btns-wrapper-center
                        button.btn.btn-action(type="submit") Tiếp tục