section.user-hp-partner
    .container-fluid
        .content-details
            .title
                p Đối tác của chúng tôi
            .slide-contents
                .slide-items
                    .icon-desktop
                        img(src="../../../assets/images/user-hp-partner-1.png", alt="user-hp-partner")
                .slide-items
                    .icon-desktop
                        img(src="../../../assets/images/user-hp-partner-2.png", alt="user-hp-partner")
                .slide-items
                    .icon-desktop
                        img(src="../../../assets/images/user-hp-partner-3.png", alt="user-hp-partner")
                .slide-items
                    .icon-desktop
                        img(src="../../../assets/images/user-hp-partner-4.png", alt="user-hp-partner")
                .slide-items
                    .icon-desktop
                        img(src="../../../assets/images/user-hp-partner-1.png", alt="user-hp-partner")
                .slide-items
                    .icon-desktop
                        img(src="../../../assets/images/user-hp-partner-2.png", alt="user-hp-partner")
                .slide-items
                    .icon-desktop
                        img(src="../../../assets/images/user-hp-partner-3.png", alt="user-hp-partner")
                .slide-items
                    .icon-desktop
                        img(src="../../../assets/images/user-hp-partner-4.png", alt="user-hp-partner")
            