@model ChangePasswordViewModel
@{
    ViewData["Title"] = Common.ChangePassword;
    Layout = "_AdminLayout";
}
<section class="myAccountEditPass">
    <div class="container-fluid">
        <h1 class="section-title">@Common.ChangePassword</h1>
        <form method="post">
            <div class="box-body">
                <div class="form-group">
                    <div class="row center-sm">
                        <label asp-for="CurrentPassword" class="col-sm-3"></label>
                        <div class="col-sm-6 myAccountEditPass__Input">
                            <input asp-for="CurrentPassword" value="@Model.CurrentPassword" class="form-control" />
                            <i class="fas fa-eye myAccountEditPass__showPassword"></i>
                            <div class="error-messeage"><span asp-validation-for="CurrentPassword"></span></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row center-sm">
                        <label asp-for="NewPassword" class="col-sm-3"></label>
                        <div class="col-sm-6 myAccountEditPass__Input">
                            <input asp-for="NewPassword" class="form-control" />
                            <i class="fas fa-eye myAccountEditPass__showPassword"></i>
                            <div class="error-messeage">
                                <span asp-validation-for="NewPassword"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row center-sm">
                        <label asp-for="ConfirmNewPassword" class="col-sm-3"></label>
                        <div class="col-sm-6 myAccountEditPass__Input">
                            <input asp-for="ConfirmNewPassword" class="form-control" />
                            <i class="fas fa-eye myAccountEditPass__showPassword"></i>
                            <div class="error-messeage">
                                <span asp-validation-for="ConfirmNewPassword"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button class="btn btn-action" type="submit">@Common.Submit</button>
                <a class="btn btn-action" asp-controller="Admin" asp-action="Profile">@Common.Back</a>
            </div>
        </form>
    </div>
</section>