@{
    ViewData["Title"] = "Page Not Found";
    
}

<div class="body-content-endUser body-content-error-page">
    <section class="user-not-found-section user-error-section">
        <div class="user-not-found-content user-error-content">
            <img src="/images/404.png" alt="" />
            <h1>Trang bạn truy cập không tồn tại</h1>
            <a href="/">
                <span>Quay lại</span>
                <span>trang chủ</span>
            </a>
        </div>
    </section>
</div>