@model EditNameViewModel
@{
    Layout = "_NewLayout";
    ViewData["Title"] = Common.EditName;
}


<section class="g-py-0">
    <div class="container g-pt-10 g-pb-20">
        <div class="row justify-content-between">
            <div class="col-md-6 flex-md-unordered align-self-center g-mb-80">
                <div class="g-bg-white rounded g-pa-0">
                    <img class="w-100 img-fluid g-mb-0" src="/assets-new/img/content/banner-login.png" />
                </div>
            </div>
            <div class="col-md-6 flex-md-first align-self-center g-mb-80 g-hidden-xs">
                <div class="g-brd-primary g-mb-30">
                    <h2 id="hoatdong" class="h2 u-heading-v2__title g-color-gray-dark-v2 text-center g-font-weight-700">Cập nhập <span class="g-color-deeporange g-ml-5">họ tên</span></h2>
                </div>
                <span class="form-control-feedback">Bạn cần phải điền họ tên đúng với tài khoản ViettelPay để tiến hành các giao dịch</span>

                <!-- Form -->
                <form method="post">
                    <div class="mb-4">
                        <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15 g-rounded-50" asp-for="FullName" placeholder="Họ và tên" />
                        <span class="form-control-feedback" asp-validation-for="FullName"></span>
                    </div>

                    <div class="text-center mb-5">
                        <button class="u-shadow-v1-1 btn btn-md u-btn-deeporange u-btn-hover-v1-1 g-rounded-50 g-mb-15 g-mt-0 g-py-15 btn-block g-font-size-14 float-right" type="submit">Cập nhập</button>
                    </div>

                </form>

            </div>

        </div>
    </div>
</section>