@using smartFunds.Presentation.Models.Client

@{
    ViewData["Title"] = "Kết quả giao dịch";
}

    <section class="emptyManageRisk body-content-endUser">
        <div class="container-fluid">
            <div class="emptyManageRisk__Content">
                <h5>Giao dịch của bạn đã hoàn thành!</h5>
                <div class="emptyManageRisk__Button">
                    <a asp-controller="Account" asp-action="MyWallet" class="btn-select">Về tài khoản</a>
                </div>
            </div>
        </div>
    </section>


