section.emptyManageRisk.body-content-endUser
    .container-fluid
        //- .emptyManageRisk__BigImage
        //-     img(src="../../../assets/images/manageRisk1.png", alt="image-socials")
        .emptyManageRisk__Content
            h5 Giao dịch của bạn đã hoàn thành
            //- p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .emptyManageRisk__Button
                //.middle 
                a(href="").btn-select Về tài khoản