@model LstNewsModel
@{
    var checkNoRule = UserService.IsUnInRole(UserService.GetCurrentUser().Result, RoleName.CustomerManager).Result;
}
@if (Model != null && Model.LstNews.Any())
{
    <h4>
        Các Tin cũ
    </h4>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="list-unstyled save-job">
                @for (int i = 0; i < Model.LstNews.Count; i++)
                {
                    <li class="pt5">
                        <i class="fa fa-caret-right color-blue g-color-black"></i><a asp-action="Detail" asp-route-id="@Model.LstNews[i].Id" class="g-color-black"
                                                                                     title="@Html.Raw(Model.LstNews[i].Title)">
                            @Html.Raw(Model.LstNews[i].Title)
                            <span style="color: #6D6D6D; font-size: 12px; font-style: italic;">(@Html.Raw(Model.LstNews[i].PostDate.ToString("dd/MM/yyyy")))</span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
}