@using smartFunds.Model.Common;
@model FAQsModel
@{
    ViewData["Title"] = "FAQs";
}

<div class="row">
    <div class="col-md-4">
        <section>
            <label>FAQs</label>
        </section>
    </div>   
</div>
