extends ../user-investment-portfolio/user-investment-portfolio.pug
block invesment-suggetestion
block tittle
    .user-invesment-no-answers-banner
        picture
            source(media="(max-width: 768px)" srcset="../../../assets/images/intro-small.png")
            img(src="../../../assets/images/intro.png")
    h4.list-invesment-title.list-invesment-title-no-answers Lựa chọn danh mục đầu tư
