section.investment-portfolio
    .content
        h1.section-title CÂN BẰNG GIAO DỊCH QUỸ 1
        .table-filter-actions
            .table-filter-actions__item.table-filter-actions__info
                span GIÁ TRỊ CÂN BẰNG GIAO DỊCH: 
                    i 200,000đ
            .table-filter-actions__item.table-filter-actions__pagesize
                a() Hiển thị
                select.table-filter-actions__pagesize__select(id="pagesize" name="pagesize")
                    option(value="10") 10
                    option(value="20") 20
                    option(value="30") 30
                span 1 trang
        table#trade-balance-detail.display(style='width:100%')
            thead
                tr
                    th STT
                    th Loại giao dịch
                    th Số lượng CCQ
                    th Giá trị giao dịch
                    th Khách hàng
                    th Thời gian giao dịch
            tbody
                tr
                    td 1
                    td Đầu tư
                    td 2
                    td 200,000
                    td Nguyễn Văn A
                    td 18/03/2019 12:05:01
                tr
                    td 1
                    td Đầu tư
                    td 2
                    td 200,000
                    td Nguyễn Văn A
                    td 18/03/2019 12:05:01
                tr
                    td 1
                    td Đầu tư
                    td 2
                    td 200,000
                    td Nguyễn Văn A
                    td 18/03/2019 12:05:01
                tr
                    td 1
                    td Đầu tư
                    td 2
                    td 200,000
                    td Nguyễn Văn A
                    td 18/03/2019 12:05:01
                tr
                    td 1
                    td Đầu tư
                    td 2
                    td 200,000
                    td Nguyễn Văn A
                    td 18/03/2019 12:05:01
                tr
                    td 1
                    td Đầu tư
                    td 2
                    td 200,000
                    td Nguyễn Văn A
                    td 18/03/2019 12:05:01
                tr
                    td 1
                    td Đầu tư
                    td 2
                    td 200,000
                    td Nguyễn Văn A
                    td 18/03/2019 12:05:01
                tr
                    td 1
                    td Đầu tư
                    td 2
                    td 200,000
                    td Nguyễn Văn A
                    td 18/03/2019 12:05:01
                tr
                    td 1
                    td Đầu tư
                    td 2
                    td 200,000
                    td Nguyễn Văn A
                    td 18/03/2019 12:05:01
                tr
                    td 1
                    td Đầu tư
                    td 2
                    td 200,000
                    td Nguyễn Văn A
                    td 18/03/2019 12:05:01
                tr
                    td 1
                    td Đầu tư
                    td 2
                    td 200,000
                    td Nguyễn Văn A
                    td 18/03/2019 12:05:01
                tr
                    td 1
                    td Đầu tư
                    td 2
                    td 200,000
                    td Nguyễn Văn A
                    td 18/03/2019 12:05:01
                tr
                    td 1
                    td Đầu tư
                    td 2
                    td 200,000
                    td Nguyễn Văn A
                    td 18/03/2019 12:05:01
                tr
                    td 1
                    td Đầu tư
                    td 2
                    td 200,000
                    td Nguyễn Văn A
                    td 18/03/2019 12:05:01
                tr
                    td 1
                    td Đầu tư
                    td 2
                    td 200,000
                    td Nguyễn Văn A
                    td 18/03/2019 12:05:01
                tr
                    td 1
                    td Đầu tư
                    td 2
                    td 200,000
                    td Nguyễn Văn A
                    td 18/03/2019 12:05:01
                tr
                    td 1
                    td Đầu tư
                    td 2
                    td 200,000
                    td Nguyễn Văn A
                    td 18/03/2019 12:05:01