section.manageWeightRiskAdd
    .content
        form
            h1.section-title Thêm Trọng Số
            .row
                .col-xs-12.col-sm-6.col-lg-12
                    .form-control
                        label Trọng Số Từ
                        input.form-control
                .col-xs-12.col-sm-6.col-lg-12
                    .form-control
                        label Đến
                        input.form-control
                .col-xs-12.col-sm-6.col-lg-12
                    .form-control
                        label Loại Khẩu Vị Rủi Ro                    
                        select.form-control
                            option 1
                            option 2
                            option 3  
