
section
    section.manage-weightRisk
        form(action="")
            +microModal('manage-kvrrmark-modal')
            .content
                h1.section-title QUẢN LÝ TRỌNG SỐ KVRR
                .detail-block
                    a.btn.btn-action(href="#") Thêm Trọng Số
                    .table-filter-actions
                        .table-filter-actions__item.table-filter-actions__delete
                            a.fas.fa-trash-alt(href="#", data-micromodal-trigger="manage-kvrrmark-modal")
                                span Xóa
                    table#weightRiskTable.display(style='width:100%')
                        thead
                            tr
                                th STT
                                th 
                                    input.select-all-btn(type="checkbox")
                                th Trọng Số
                                th Loại khẩu vị rủi ro
                        tbody
                            tr
                                td
                                    a(href="/investment-portfolio-detail.html") 1
                                td 
                                    input(type="checkbox")
                                td(data-order="0") 0 - 5
                                td Khẩu vị rủi ro 1
                            tr
                                td 2
                                td 
                                    input(type="checkbox")
                                td(data-order="6") 6 - 10
                                td Khẩu vị rủi ro 2
                            tr
                                td 3
                                td 
                                    input(type="checkbox")
                                td(data-order="11") 11 - 15
                                td Khẩu vị rủi ro 3
                            tr
                                td 4
                                td 
                                    input(type="checkbox")
                                td(data-order="16") 16 - 20
                                td Khẩu vị rủi ro 4

