@model InvestViewModel

@{
    ViewData["Title"] = "Lock Transaction";

    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<!-- Section 3 Hoat dong -->
<section class="g-py-20">
    <div class="container">
        <div class="row">
            <div class="col-md-12 align-self-center g-mb-50--md g-mb-0--md">
                <div class="align-self-center mr-3 btn-block text-center">
                    <span class="u-icon-v2 g-color-white g-bg-red rounded-circle">
                        <i class="icon-close"></i>
                    </span>
                </div>
                <div class="g-brd-primary g-mb-30 ">
                    <h2 id="hoatdong" class="h2 u-heading-v2__title g-color-gray-dark-v2 text-center g-font-weight-700">
                        Hiện tại hệ thống đang thực hiện giao dịch với các quỹ. Xin vui lòng quay lại sau.
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12 align-self-center g-mb-50--md g-mb-0--md  text-center">
                <a class="u-shadow-v1-1 btn btn-md u-btn-deeporange u-btn-hover-v1-1 g-rounded-50 g-mb-15 g-py-15 btn-block g-font-size-14" href="/">Về trang chủ</a>
            </div>

        </div>
    </div>
</section>
<!-- End Section 3  Hoạt dong-->