.user-invesment-target.is-active.px-15
    h1.section-title-endUser Mục tiêu đầu tư
    .user-form-group.p-15
        .user-form-control
            span Số tiền mục tiêu đầu tư
            span 12.000.000 đ
        .user-form-control
            span Thời hạn đầu tư
            span 3 Tháng
        .user-form-control
            span Tần suất đầu tư
            span 1 Tuần / Lần
        .user-form-control
            span Số tiền trong 1 lần đầu tư
            span 2.000.000 đ
        .user-form-control
            span Hình thức đầu tư 
            span Tự đầu tư
        a.btn.btn-actions(href="#") Thay đổi mục tiêu

