.content
  include ../manager-customers-detail-info/manager-customers-detail-info
  include ../customer-transition-history/customer-transition-history
  include ../customer-chart/customer-chart
  include ../manager-customer-target/manager-customer-target