section.investment-portfolio
    .content
        h1.section-title Quản lý danh mục đầu tư
        a.btn.btn-action(href="/investment-portfolio-add.html" ) Thêm Danh Mục Đầu Tư
        .table-filter-actions
            .table-filter-actions__item.table-filter-actions__delete
                a.fas.fa-trash-alt(href="#", data-micromodal-trigger="manage-customer-modal") 
                    span Xóa
            .table-filter-actions__item.table-filter-actions__pagesize
                a() Hiển thị
                select.table-filter-actions__pagesize__select(id="pagesize" name="pagesize")
                    option(value="10") 10
                    option(value="20") 20
                    option(value="30") 30
                span 1 trang
            .table-filter-actions__item.table-filter-actions__export.dt-buttons
                button.buttons-csv Xuất
        table#invesment-table.display(style='width:100%')
            thead
                tr
                    th STT
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR

            tbody
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR
                tr
                    th 1
                    th Tên danh mục đầu tư
                    th Nội dung danh mục
                    th KVRR