section.manager-user__add
    .container-fluid
        h1.section-title Thêm admin
        form
            .row.center-xs
                .col-sm-6
                    .form-group
                        label Tên
                        input#name-invesment.form-control(name="nameInvesment")
                        span.error-messeage Lỗi
                    .form-group
                        label Email
                        input#name-invesment.form-control(name="nameInvesment")
                        span.error-messeage Lỗi
                    .form-group
                        label Vai trò
                        select#name-invesment.form-control(name="nameInvesment")
                            option(value="1") 1
                            option(value="2") 2
                            option(value="3") 3
                        span.error-messeage Lỗi
                    .form-group
                        label Mật khẩu
                        input#name-invesment.form-control(name="nameInvesment")
                        span.error-messeage Lỗi
                    .tn-part.btns-wrapper-center
                        button.btn.btn-action(type="submit") Xác nhận
                        a.btn.btn-action Quay lại