section.user-answers-question
    .container-fluid.user-quizmain
        .row
            .quizmain-title
                h4.text-title Câu hỏi xác định khẩu vị rủi ro
            .form-user-quizmain
                form#user-quizform.user-quizform 
                    h3 abc
                    .quizmain-container
                        .quizmain-header
                            .question-order
                                span.quiz-order 01
                                span.slash /
                                span.quiz-total 05
                            .question-main
                                span.question-title Câu hỏi
                                p.question-content Lorem ipsum dolor sit amet, quam lorem, tincidunt donec vestibulum eget, lectus risus a phasellus velit. Etiam quam fusce tristique diam, eros suspendisse interdum aliquam nullam, dolor eget, sed donec. Dignissim duis ut quam suspendisse.
                        .choose-answers 
                            .choose-answers-detail
                                label.radio-answers-container Đồng ý
                                    input.user-select-radio.user-select-radio.required(type="radio", name="quiz-1", value="1")
                                    span.checkmark
                            .choose-answers-detail
                                label.radio-answers-container Không đồng ý
                                    input.user-select-radio.user-select-radio.required(type="radio", name="quiz-1", value="2")
                                    span.checkmark
                            .choose-answers-detail
                                label.radio-answers-container Rất đồng ý
                                    input.user-select-radio.user-select-radio.required(type="radio", name="quiz-1", value="3")
                                    span.checkmark
                            .choose-answers-detail
                                label.radio-answers-container Rất không đồng ý
                                    input.user-select-radio.user-select-radio.required(type="radio", name="quiz-1", value="4")
                                    span.checkmark
                    h3 abc
                    .quizmain-container
                        .quizmain-header
                            .question-order
                                span.quiz-order 02
                                span.slash /
                                span.quiz-total 05
                            .question-main
                                span.question-title Câu hỏi
                                p.question-content Lorem ipsum dolor sit amet, quam lorem, tincidunt donec vestibulum eget, lectus risus a phasellus velit. Etiam quam fusce tristique diam, eros suspendisse interdum aliquam nullam, dolor eget, sed donec. Dignissim duis ut quam suspendisse.
                        .choose-answers
                            .choose-answers-detail
                                label.radio-answers-container Lorem ipsum dolor sit amet, quam lorem, tincidunt donec vestibulum eget,
                                    input.user-select-radio.user-select-radio.required(type="radio", name="quiz-2", value="1")
                                    span.checkmark
                            .choose-answers-detail
                                label.radio-answers-container Lorem ipsum dolor sit amet, quam lorem, tincidunt donec vestibulum eget,
                                    input.user-select-radio.user-select-radio.required(type="radio", name="quiz-2", value="2")
                                    span.checkmark
                            .choose-answers-detail
                                label.radio-answers-container Lorem ipsum dolor sit amet, quam lorem, tincidunt donec vestibulum eget,
                                    input.user-select-radio.user-select-radio.required(type="radio", name="quiz-2", value="3")
                                    span.checkmark
                            .choose-answers-detail
                                label.radio-answers-container Lorem ipsum dolor sit amet, quam lorem, tincidunt donec vestibulum eget,
                                    input.user-select-radio.user-select-radio.required(type="radio", name="quiz-2", value="4")
                                    span.checkmark
                    h3 abc
                    .quizmain-container
                        .quizmain-header
                            .question-order
                                span.quiz-order 03
                                span.slash /
                                span.quiz-total 05
                            .question-main
                                span.question-title Câu hỏi
                                p.question-content Lorem ipsum dolor sit amet, quam lorem, tincidunt donec vestibulum eget, lectus risus a phasellus velit. Etiam quam fusce tristique diam, eros suspendisse interdum aliquam nullam, dolor eget, sed donec. Dignissim duis ut quam suspendisse.
                        .choose-answers
                            .choose-answers-detail
                                label.radio-answers-container Lorem ipsum dolor sit amet, quam lorem, tincidunt donec vestibulum eget,
                                    input.user-select-radio.user-select-radio.required(type="radio", name="quiz-3", value="1")
                                    span.checkmark
                            .choose-answers-detail
                                label.radio-answers-container Lorem ipsum dolor sit amet, quam lorem, tincidunt donec vestibulum eget,
                                    input.user-select-radio.user-select-radio.required(type="radio", name="quiz-3", value="2")
                                    span.checkmark
                            .choose-answers-detail
                                label.radio-answers-container Lorem ipsum dolor sit amet, quam lorem, tincidunt donec vestibulum eget,
                                    input.user-select-radio.user-select-radio.required(type="radio", name="quiz-3", value="3")
                                    span.checkmark
                            .choose-answers-detail
                                label.radio-answers-container Lorem ipsum dolor sit amet, quam lorem, tincidunt donec vestibulum eget,
                                    input.user-select-radio.user-select-radio.required(type="radio", name="quiz-3", value="4")
                                    span.checkmark
                    h3 abc
                    .quizmain-container
                        .quizmain-header
                            .question-order
                                span.quiz-order 04
                                span.slash /
                                span.quiz-total 05
                            .question-main
                                span.question-title Câu hỏi
                                p.question-content Lorem ipsum dolor sit amet, quam lorem, tincidunt donec vestibulum eget, lectus risus a phasellus velit. Etiam quam fusce tristique diam, eros suspendisse interdum aliquam nullam, dolor eget, sed donec. Dignissim duis ut quam suspendisse.
                        .choose-answers
                            .choose-answers-detail
                                label.radio-answers-container Lorem ipsum dolor sit amet, quam lorem, tincidunt donec vestibulum eget,
                                    input.user-select-radio.user-select-radio.required(type="radio", name="quiz-4", value="1")
                                    span.checkmark
                            .choose-answers-detail
                                label.radio-answers-container Lorem ipsum dolor sit amet, quam lorem, tincidunt donec vestibulum eget,
                                    input.user-select-radio.user-select-radio.required(type="radio", name="quiz-4", value="2")
                                    span.checkmark
                            .choose-answers-detail
                                label.radio-answers-container Lorem ipsum dolor sit amet, quam lorem, tincidunt donec vestibulum eget,
                                    input.user-select-radio.user-select-radio.required(type="radio", name="quiz-4", value="3")
                                    span.checkmark
                            .choose-answers-detail
                                label.radio-answers-container Lorem ipsum dolor sit amet, quam lorem, tincidunt donec vestibulum eget,
                                    input.user-select-radio.user-select-radio.required(type="radio", name="quiz-4", value="4")
                                    span.checkmark
                    h3 abc
                    .quizmain-container
                        .quizmain-header
                            .question-order
                                span.quiz-order 05
                                span.slash /
                                span.quiz-total 05
                            .question-main
                                span.question-title Câu hỏi
                                p.question-content Lorem ipsum dolor sit amet, quam lorem, tincidunt donec vestibulum eget, lectus risus a phasellus velit. Etiam quam fusce tristique diam, eros suspendisse interdum aliquam nullam, dolor eget, sed donec. Dignissim duis ut quam suspendisse.
                        .choose-answers
                            .choose-answers-detail
                                label.radio-answers-container Lorem ipsum dolor sit amet, quam lorem, tincidunt donec vestibulum eget,
                                    input.user-select-radio.user-select-radio.required(type="radio", name="quiz-5", value="1")
                                    span.checkmark
                            .choose-answers-detail
                                label.radio-answers-container Lorem ipsum dolor sit amet, quam lorem, tincidunt donec vestibulum eget,
                                    input.user-select-radio.user-select-radio.required(type="radio", name="quiz-5", value="2")
                                    span.checkmark
                            .choose-answers-detail
                                label.radio-answers-container Lorem ipsum dolor sit amet, quam lorem, tincidunt donec vestibulum eget,
                                    input.user-select-radio.user-select-radio.required(type="radio", name="quiz-5", value="3")
                                    span.checkmark
                            .choose-answers-detail
                                label.radio-answers-container Lorem ipsum dolor sit amet, quam lorem, tincidunt donec vestibulum eget,
                                    input.user-select-radio.user-select-radio.required(type="radio", name="quiz-5", value="4")
                                    span.checkmark
                    //- .submit-answers
                    //-     button.btn.btn-next-question(type="submit") Câu tiếp theo
            a.user-checkout-quizmain(href="/user-investment-no-answers.html") Bỏ qua câu hỏi xác định khẩu vị rủi ro
                
