section.user_login
    .content-details
        .image-left
            img(src="../../assets/images/tyler-franta.png", alt="images")
            .box
            .text Tiết kiệm bằng đầu tư một cách thông minh
        form#form_login.form-detail(action="#")
            a.back(href="/") 
                img(src="../../assets/images/arrow-left.png", alt="images")
                span Quay trở lại trang chủ
            h2 Đăng nhập tài khoản
            p.normal Chào mừng bạn trở lại với chúng tôi
            .form-row
                input#your_email.user-input.form-control-number--phone(type="email", name="your_email", required autocomplete="on")
                p.placeholder
                    span Địa chỉ email hoặc số điện thoại
            .form-row.form-row-1
                input#Password.user-input(type="password", name="Password" required)
                p.placeholder
                    span Mật khẩu     
                .show-pw
                    img.eye-icon(src="../../../assets/images/view-show.png", alt="show-pw") 
                    span Hiển thị         
            .forget-pw
                a(href="#") Quên mật khẩu
            .register-button
                input.user-input(type="submit", value="Đăng nhập", name="Đăng nhập")
            p.register Chưa có tài khoản? 
                a(href="/user_resgister.html") Đăng ký tại đây.
                
    
    
                

                

                


