section.manager-frequent-question-category
  .container-fluid
    .content
      h1.section-title Thêm danh mục
      .row.center-xs
        .col-sm-6
          form#form-caterogy
            .form-group
              label Danh mục
              input.form-control.input-control(type="text" name="category")
            .btns-wrapper-center
              button.btn.btn-action#add-questions(type="submit") Thêm danh mục
              a.btn.btn-action Quay lại
input#required-mess(value="Không bỏ trống" type="hidden")