@model GenericIntroducingSettingModel

<div class="manager-settings__item">
    <div class="manager-settings__item__title">
        <h1>Giới thiệu chung</h1>
        <div class="options"><a asp-controller="IntroducingPageCMS" asp-action="Update"><i class="fa fa-edit"></i></a></div>
    </div>
    <div class="manager-settings__item__content">
        <div class="form-group">
            <div class="row">
                <div class="col-lg-3">
                    <label>Banner:</label>
                </div>
                <div class="col-lg-9">
                    <div class="image-upload">
                        <div class="image-upload__item upload-banner-image">
                            <div class="image-upload__item__image banner">
                                <img class="img-show" src="@IntroducingPageFolder.Path@(Model.Banner == null ? "favicon.ico" : Model.Banner)" />
                            </div>
                        </div>
                        <div class="image-upload__item__btn-upload" style="display: none;"></div>
                        <input class="image-upload__item__input-image" type="file" accept="image/*" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <label>Mobile Banner:</label>
                </div>
                <div class="col-lg-9">
                    <div class="image-upload">
                        <div class="image-upload__item upload-banner-image">
                            <div class="image-upload__item__image banner">
                                <img class="img-show" src="@IntroducingPageFolder.Path@(Model.MobileBanner == null ? "favicon.ico" : Model.MobileBanner)" />
                            </div>
                        </div>
                        <div class="image-upload__item__btn-upload" style="display: none;"></div>
                        <input class="image-upload__item__input-image" type="file" accept="image/*" />
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-lg-3">
                    <label asp-for="Description"></label>
                </div>
                <div class="col-lg-9">
                    <div class="form-group">
                        <div class="content-detail">
                            @Html.Raw(Model.Description == null ? "Text..." : Model.Description)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
