section.weight-risk-add
    .content
        form(action="")
            .container-fluid
                .row.center-xs
                    .col-sm-4
                        h1.section-title Thêm trọng số
                        .weight-risk-add__trongso
                            span Trọng số
                            input#addTrongsoFrom(type="text")
                            span Đến
                            input#addTrongsoTo(type="text")
                        .weight-risk-add__loai-kvrr
                            select
                                option(disabled selected) Loại khẩu vị rủi ro
                                option 1
                                option 2
                                option 3
                        .tn-part.btns-wrapper-center
                            button.btn.btn-action(type="submit") Xác nhận
                            a.btn.btn-action Quay lại
                        

