section.investment-portfolio-add
    .container-fluid
        h1.section-title Quản lý danh mục đầu tư
        form
            .row.center-xs
                .col-sm-6
                    .form-group
                        label Tên danh mục đầu tư
                        input#name-invesment.form-control(name="nameInvesment")
                    .form-group
                        label Nội dung danh mục
                        textarea#name-invesment.form-control(name="nameInvesment")
                    .tn-part.btns-wrapper-center
                        button.btn.btn-action(type="submit") Xác nhận
                        a.btn.btn-action Quay lại