extends ../layouts/masterUser_login.pug

block title
  title My Page - about

block basicSeo
  meta(name='description' content='about page')
  meta(name='keywords', content='about, page')
  meta(name='author' content='')

block content

    //- Desktop page
    //- .body-content-endUser
    include ../components/about-us/about-us.pug