extends ../layouts/masterUser.pug

block title
  title My Page - contact

block basicSeo
  meta(name='description' content='contact page')
  meta(name='keywords', content='contact, page')
  meta(name='author' content='')

block content

    //- Desktop page
    .body-content-endUser
      include ../components/user-contact/user-contact.pug