extends ../layouts/masterUser.pug

block title
  title My Page - Resgister User

block basicSeo
  meta(name='description' content='resgister page')
  meta(name='keywords', content='resgister, page')
  meta(name='author' content='')
  
block content
    //- Desktop page
    include ../components/resgisterUser/resgisterUser.pug