extends ../layouts/masterUser_login.pug

block title
  title My Page - recharge

block basicSeo
  meta(name='description' content='recharge page')
  meta(name='keywords', content='recharge, page')
  meta(name='author' content='')

block content

    //- Desktop page
    .body-content-endUser
        include ../components/user-recharge/user-recharge.pug