extends ../layouts/masterUser_login.pug

block title
  title My Page - wallet

block basicSeo
  meta(name='description' content='wallet page')
  meta(name='keywords', content='wallet, page')
  meta(name='author' content='')

block content

    //- Desktop page
    .body-content-endUser
        include ../components/user-fund/user-fund.pug