extends ../layouts/masterUser_login.pug

block title
  title My Page - questions

block basicSeo
  meta(name='description' content='questions page')
  meta(name='keywords', content='questions, page')
  meta(name='author' content='')

block content

    //- Desktop page
    .body-content-endUser
        include ../components/user-questions/user-questions.pug