section
    section.client-distribution
        .content
            +microModal('client-distribution-modal')
            h1.section-title QUAN HỆ KHÁCH HÀNG
            .detail-block
                a.btn.btn-action(href="#") THÊM CẤP KHÁCH HÀNG
                .table-filter-actions
                    .table-filter-actions__item.table-filter-actions__delete
                        a.fas.fa-trash-alt(href="#", data-micromodal-trigger="client-distribution-modal")
                            span Xóa
                table#clientDistributionTable.display(style='width:100%')
                    thead
                        tr
                            th STT
                            th 
                                input.select-all-btn(type="checkbox")
                            th Cấp Khách Hàng
                            th Tổng số tiền đã đầu tư
                    tbody
                        tr
                            td
                                a(href="/investment-portfolio-detail.html") 1
                            td 
                                input(type="checkbox")
                            td(data-order = "2008/04/15") 15/04/2008

                            
                            td(data-order = "10,000,000") > 10,000,000
                        tr
                            td 2
                            td 
                                input(type="checkbox")
                            td(data-order = "2001/05/16") 16/05/2001

                            td(data-order = "7,000,000") 7,000,000 - 9,999,999
                        tr
                            td 3
                            td 
                                input(type="checkbox")
                            td(data-order = "2010/07/17") 17/07/2010

                            td(data-order = "5,000,000") 5,000,000 - 6,999,999
                        tr
                            td
                                a(href="/investment-portfolio-detail.html") 1
                            td 
                                input(type="checkbox")
                            td(data-order = "2008/04/15") 15/04/2008

                            
                            td(data-order = "10,000,000") > 10,000,000
                        tr
                            td 2
                            td 
                                input(type="checkbox")
                            td(data-order = "2001/05/16") 16/05/2001

                            td(data-order = "7,000,000") 7,000,000 - 9,999,999
                        tr
                            td 3
                            td 
                                input(type="checkbox")
                            td(data-order = "2010/07/17") 17/07/2010

                            td(data-order = "5,000,000") 5,000,000 - 6,999,999                           
                        tr
                            td
                                a(href="/investment-portfolio-detail.html") 1
                            td 
                                input(type="checkbox")
                            td(data-order = "2008/04/15") 15/04/2008

                            
                            td(data-order = "10,000,000") > 10,000,000
                        tr
                            td 2
                            td 
                                input(type="checkbox")
                            td(data-order = "2001/05/16") 16/05/2001

                            td(data-order = "7,000,000") 7,000,000 - 9,999,999
                        tr
                            td 3
                            td 
                                input(type="checkbox")
                            td(data-order = "2010/07/17") 17/07/2010

                            td(data-order = "5,000,000") 5,000,000 - 6,999,999
                        tr
                            td
                                a(href="/investment-portfolio-detail.html") 1
                            td 
                                input(type="checkbox")
                            td(data-order = "2008/04/15") 15/04/2008

                            
                            td(data-order = "10,000,000") > 10,000,000
                        tr
                            td 2
                            td 
                                input(type="checkbox")
                            td(data-order = "2001/05/16") 16/05/2001

                            td(data-order = "7,000,000") 7,000,000 - 9,999,999
                        tr
                            td 3
                            td 
                                input(type="checkbox")
                            td(data-order = "2010/07/17") 17/07/2010

                            td(data-order = "5,000,000") 5,000,000 - 6,999,999
                        tr
                            td
                                a(href="/investment-portfolio-detail.html") 1
                            td 
                                input(type="checkbox")
                            td(data-order = "2008/04/15") 15/04/2008

                            
                            td(data-order = "10,000,000") > 10,000,000
                        tr
                            td 2
                            td 
                                input(type="checkbox")
                            td(data-order = "2001/05/16") 16/05/2001

                            td(data-order = "7,000,000") 7,000,000 - 9,999,999
                        tr
                            td 3
                            td 
                                input(type="checkbox")
                            td(data-order = "2010/07/17") 17/07/2010

                            td(data-order = "5,000,000") 5,000,000 - 6,999,999
                        tr
                            td
                                a(href="/investment-portfolio-detail.html") 1
                            td 
                                input(type="checkbox")
                            td(data-order = "2008/04/15") 15/04/2008

                            
                            td(data-order = "10,000,000") > 10,000,000
                        tr
                            td 2
                            td 
                                input(type="checkbox")
                            td(data-order = "2001/05/16") 16/05/2001

                            td(data-order = "7,000,000") 7,000,000 - 9,999,999
                        tr
                            td 3
                            td 
                                input(type="checkbox")
                            td(data-order = "2010/07/17") 17/07/2010

                            td(data-order = "5,000,000") 5,000,000 - 6,999,999                           
                        tr
                            td
                                a(href="/investment-portfolio-detail.html") 1
                            td 
                                input(type="checkbox")
                            td(data-order = "2008/04/15") 15/04/2008

                            
                            td(data-order = "10,000,000") > 10,000,000
                        tr
                            td 2
                            td 
                                input(type="checkbox")
                            td(data-order = "2001/05/16") 16/05/2001

                            td(data-order = "7,000,000") 7,000,000 - 9,999,999
                        tr
                            td 3
                            td 
                                input(type="checkbox")
                            td(data-order = "2010/07/17") 17/07/2010

                            td(data-order = "5,000,000") 5,000,000 - 6,999,999
                        tr
                            td
                                a(href="/investment-portfolio-detail.html") 1
                            td 
                                input(type="checkbox")
                            td(data-order = "2008/04/15") 15/04/2008

                            
                            td(data-order = "10,000,000") > 10,000,000
                        tr
                            td 2
                            td 
                                input(type="checkbox")
                            td(data-order = "2001/05/16") 16/05/2001

                            td(data-order = "7,000,000") 7,000,000 - 9,999,999
                        tr
                            td 3
                            td 
                                input(type="checkbox")
                            td(data-order = "2010/07/17") 17/07/2010

                            td(data-order = "5,000,000") 5,000,000 - 6,999,999
            .client-distribution__Fake--Paging
                a(href="javascript:void(0)" class="FakePaging--Previous pagingFake--Button" ) Trang trước
                a(href="javascript:void(0)" class="pagingFake--Button") 1
                a(href="javascript:void(0)" class="pagingFake--Button") 2
                a(href="javascript:void(0)" class="pagingFake--Button") 3
                a(href="javascript:void(0)" class="pagingFake--Button") 4
                a(href="javascript:void(0)" class="pagingFake--Button") 5
                a(href="javascript:void(0)" class="FakePaging--Next pagingFake--Button") Trang tiếp
//- section.clientDistributionTableList__Parent
//-     section.clientDistributionTableList
//-         //- .table-filter-actions
//-         //-     .table-filter-actions__item.table-filter-actions__delete
//-         //-         a.fas.fa-trash-alt(href="#", data-micromodal-trigger="client-distribution-modal")
//-         //-             span Xóa
//-         .content
//-             .table-filter-conditions.row
//-                 .col-sm-6                                
//-                     .form-control.clientDistributionTableList__ListOptionsOne
//-                         label Loại khách hàng  
//-                         select.form-control
//-                             option Tất cả
//-                             option Khách hàng kim cương
//-                             option Khách hàng vàng
//-                             option Khách hàng bạc
//-                         button.btn.btn-action(href="#") TÌM KIẾM
//-                 .col-sm-6 
//-                     .form-control.clientDistributionTableList__ListOptionsTwo
//-                         select.form-control
//-                             option Chọn email template
//-                             option 1
//-                             option 2
//-                             option 3
//-                         .table-filter-actions
//-                             .table-filter-actions__item.table-filter-actions__delete
//-                                 a.btn.btn-action(href="#", data-micromodal-trigger="client-distribution-modal")
//-                                     span Gửi Email
//-             table#clientDistributionTableList.display(style='width:100%')
//-                 thead
//-                     tr
//-                         th STT
//-                         th 
//-                             input.select-all-btn(type="checkbox" class="a")
//-                         th Họ và tên
//-                         th Số điện thoại
//-                         th Địa chỉ email
//-                         th Tổng số tiền đã đầu tư
//-                         th Trạng thái hoạt động
//-                 tbody
//-                     tr
//-                         td 1
//-                         td 
//-                             input(type="checkbox" class="a")
//-                         td Nguyễn Văn A
//-                         td 0973456789
//-                         td vana123@gmail.com
//-                         td 50,000 
//-                             span đ
//-                         td Đang hoạt động
//-                     tr
//-                         td 2
//-                         td 
//-                             input(type="checkbox" class="a")
//-                         td Nguyễn Thị B
//-                         td 0979999999
//-                         td b123@outlook.com
//-                         td 100,000 
//-                             span đ
//-                         td Đang hoạt động


        