section.investment-portfolio
    .content
        h1.section-title CÂN BẰNG GIAO DỊCH QUỸ 
        .table-filter-actions
            .table-filter-actions__item.table-filter-actions__pagesize
                a() Hiển thị
                select.table-filter-actions__pagesize__select(id="pagesize" name="pagesize")
                    option(value="10") 10
                    option(value="20") 20
                    option(value="30") 30
                span 1 trang
            .table-filter-actions__item.table-filter-actions__export.dt-buttons
                button.buttons-csv Xuất
        table#trade-balance-table.display(style='width:100%')
            thead
                tr
                    th STT
                    th Tên Quỹ
                    th Nội dung danh mục
                    th Mã quỹ
                    th Tổng số dư
                    th Tổng số tiền rút ra
                    th Số tiền sau CBGD
            tbody
                tr
                    th 1
                    th 
                        a(href="/trade-balance-detail.html") Tên Quỹ
                    th Nội dung danh mục
                    th Mã quỹ
                    th Tổng số dư
                    th Tổng số tiền rút ra
                    th Số tiền sau CBGD
                tr
                    th 1
                    th 
                        a(href="/trade-balance-detail.html") Tên Quỹ
                    th Nội dung danh mục
                    th Mã quỹ
                    th Tổng số dư
                    th Tổng số tiền rút ra
                    th Số tiền sau CBGD
                tr
                    th 1
                    th 
                        a(href="/trade-balance-detail.html") Tên Quỹ
                    th Nội dung danh mục
                    th Mã quỹ
                    th Tổng số dư
                    th Tổng số tiền rút ra
                    th Số tiền sau CBGD
                tr
                    th 1
                    th 
                        a(href="/trade-balance-detail.html") Tên Quỹ
                    th Nội dung danh mục
                    th Mã quỹ
                    th Tổng số dư
                    th Tổng số tiền rút ra
                    th Số tiền sau CBGD
                tr
                    th 1
                    th 
                        a(href="/trade-balance-detail.html") Tên Quỹ
                    th Nội dung danh mục
                    th Mã quỹ
                    th Tổng số dư
                    th Tổng số tiền rút ra
                    th Số tiền sau CBGD
                tr
                    th 1
                    th 
                        a(href="/trade-balance-detail.html") Tên Quỹ
                    th Nội dung danh mục
                    th Mã quỹ
                    th Tổng số dư
                    th Tổng số tiền rút ra
                    th Số tiền sau CBGD
                tr
                    th 1
                    th 
                        a(href="/trade-balance-detail.html") Tên Quỹ
                    th Nội dung danh mục
                    th Mã quỹ
                    th Tổng số dư
                    th Tổng số tiền rút ra
                    th Số tiền sau CBGD
                tr
                    th 1
                    th 
                        a(href="/trade-balance-detail.html") Tên Quỹ
                    th Nội dung danh mục
                    th Mã quỹ
                    th Tổng số dư
                    th Tổng số tiền rút ra
                    th Số tiền sau CBGD
                tr
                    th 1
                    th 
                        a(href="/trade-balance-detail.html") Tên Quỹ
                    th Nội dung danh mục
                    th Mã quỹ
                    th Tổng số dư
                    th Tổng số tiền rút ra
                    th Số tiền sau CBGD
                tr
                    th 1
                    th 
                        a(href="/trade-balance-detail.html") Tên Quỹ
                    th Nội dung danh mục
                    th Mã quỹ
                    th Tổng số dư
                    th Tổng số tiền rút ra
                    th Số tiền sau CBGD
                tr
                    th 1
                    th 
                        a(href="/trade-balance-detail.html") Tên Quỹ
                    th Nội dung danh mục
                    th Mã quỹ
                    th Tổng số dư
                    th Tổng số tiền rút ra
                    th Số tiền sau CBGD
                tr
                    th 1
                    th 
                        a(href="/trade-balance-detail.html") Tên Quỹ
                    th Nội dung danh mục
                    th Mã quỹ
                    th Tổng số dư
                    th Tổng số tiền rút ra
                    th Số tiền sau CBGD
                tr
                    th 1
                    th 
                        a(href="/trade-balance-detail.html") Tên Quỹ
                    th Nội dung danh mục
                    th Mã quỹ
                    th Tổng số dư
                    th Tổng số tiền rút ra
                    th Số tiền sau CBGD
                tr
                    th 1
                    th 
                        a(href="/trade-balance-detail.html") Tên Quỹ
                    th Nội dung danh mục
                    th Mã quỹ
                    th Tổng số dư
                    th Tổng số tiền rút ra
                    th Số tiền sau CBGD
                tr
                    th 1
                    th 
                        a(href="/trade-balance-detail.html") Tên Quỹ
                    th Nội dung danh mục
                    th Mã quỹ
                    th Tổng số dư
                    th Tổng số tiền rút ra
                    th Số tiền sau CBGD
                tr
                    th 1
                    th 
                        a(href="/trade-balance-detail.html") Tên Quỹ
                    th Nội dung danh mục
                    th Mã quỹ
                    th Tổng số dư
                    th Tổng số tiền rút ra
                    th Số tiền sau CBGD
                tr
                    th 1
                    th 
                        a(href="/trade-balance-detail.html") Tên Quỹ
                    th Nội dung danh mục
                    th Mã quỹ
                    th Tổng số dư
                    th Tổng số tiền rút ra
                    th Số tiền sau CBGD
                tr
                    th 1
                    th 
                        a(href="/trade-balance-detail.html") Tên Quỹ
                    th Nội dung danh mục
                    th Mã quỹ
                    th Tổng số dư
                    th Tổng số tiền rút ra
                    th Số tiền sau CBGD
                tr
                    th 1
                    th 
                        a(href="/trade-balance-detail.html") Tên Quỹ
                    th Nội dung danh mục
                    th Mã quỹ
                    th Tổng số dư
                    th Tổng số tiền rút ra
                    th Số tiền sau CBGD
                tr
                    th 1
                    th 
                        a(href="/trade-balance-detail.html") Tên Quỹ
                    th Nội dung danh mục
                    th Mã quỹ
                    th Tổng số dư
                    th Tổng số tiền rút ra
                    th Số tiền sau CBGD