footer.footerUser
    .container-fluid
        .content-details
            .row
                .col-xs-12.col-sm-3
                    .footer-items
                        ul
                            li.drop
                                a.drop-link() Hỗ Trợ
                                img.arrow-right(src="../../../assets/images/arrow-right.png", alt="arrow-right")
                                ul.drop-items
                                    li
                                        a(href="/user-faq.html") Câu hỏi thường gặp
                                    li
                                        a(href="/user-contact.html") Liên Hệ
                .col-xs-12.col-sm-3
                    .footer-items
                        ul
                            li.drop
                                a.drop-link(href="/user-about-us.html") Về Chúng Tôi
                .col-xs-12.col-sm-6
                    .footer-items
                        .socials
                            span.icon 
                                a(href="#") 
                                    img(src="../../../assets/images/footer-fb.png", alt="image-socials")
                            span.icon
                                a(href="#") 
                                    img(src="../../../assets/images/footer-tw.png", alt="image-socials")
                            span.icon
                                a(href="#") 
                                    img(src="../../../assets/images/footer-in.png", alt="image-socials")
                        p © Copyright 2019 
                                a(href="#") www.amigo.com 
                                span . All rights reserved.