section.user-hp-slide
    .slide-contents.slide-contents-mobile
        .slide-items
            .bg-images
                img(src="../../../assets/images/user-hp-slide-mobile.png", alt="")
            .slide-details
                p Lorem ipsum dolor sit amet
                span Pharetra turpis elit, leo aenean, nulla aliquam. Sociosqu ullamcorper scelerisque semper, vehicula eu.
        .slide-items
            .bg-images
                img(src="../../../assets/images/user-hp-slide-mobile.png", alt="")
            .slide-details
                p Lorem ipsum dolor sit amet
                span Pharetra turpis elit, leo aenean, nulla aliquam. Sociosqu ullamcorper scelerisque semper, vehicula eu.
        .slide-items
            .bg-images
                img(src="../../../assets/images/user-hp-slide-mobile.png", alt="")
            .slide-details
                p Lorem ipsum dolor sit amet
                span Pharetra turpis elit, leo aenean, nulla aliquam. Sociosqu ullamcorper scelerisque semper, vehicula eu.
    .slide-contents.slide-contents-desktop
        .slide-items
            .bg-images
                img(src="../../../assets/images/user-hp-slide-1.jpg", alt="")
            .slide-details
                p Lorem ipsum dolor sit amet
                span Pharetra turpis elit, leo aenean, nulla aliquam. Sociosqu ullamcorper scelerisque semper, vehicula eu.
        .slide-items
            .bg-images
                img(src="../../../assets/images/user-hp-slide-1.jpg", alt="")
            .slide-details
                p Lorem ipsum dolor sit amet
                span Pharetra turpis elit, leo aenean, nulla aliquam. Sociosqu ullamcorper scelerisque semper, vehicula eu.
        .slide-items
            .bg-images
                img(src="../../../assets/images/user-hp-slide-1.jpg", alt="")
            .slide-details
                p Lorem ipsum dolor sit amet
                span Pharetra turpis elit, leo aenean, nulla aliquam. Sociosqu ullamcorper scelerisque semper, vehicula eu.