section.myMission-PopUp
    .container-fluid
        h1.section-title Từ chối giao dịch
        .row.center-sm
            .col-sm-6
                h4 Bạn có chắc là bạn muốn Từ chối giao dịch này không? 
                h4 Lý do:
                textarea(rows="10")
                .myMission-PopUp__BTN
                    button.btn.btn-action(type="submit") Xác Nhận
                    a.btn.btn-action(href="") Quay Lại
