

<!-- Footer -->
<div id="contacts-section" class="g-bg-black-opacity-0_9 g-mt-0 footer-contacts-client-new">
    <div class="container">
        <div class="row">
            <div class="col-md-12 u-header__section u-header__section--light g-transition-0_3 g-py-10">
                <nav class="js-mega-menu navbar navbar-expand-lg hs-menu-initialized hs-menu-horizontal">
                    <div class="col-md-2 align-self-center">
                        <!-- Logo -->
                        <a href="/" class="navbar-brand d-flex">
                            <img src="/assets-new/img/logo/logo_sn.png" />
                        </a>
                    </div>
                    <!-- End Logo -->
                    <div class="col-md-8 text-center">
                        <!-- Navigation -->
                        <div class="align-items-center flex-sm-row g-pt-10 g-pt-5--lg g-mr-40--lg">
                            <ul class="navbar-nav text-uppercase g-pos-rel g-font-weight-600 ml-auto">
                                <!-- Intro -->
                                <li class="nav-item g-mx-10--lg g-mx-15--xl">
                                    <a asp-controller="IntroducingPageCMS" asp-action="Index" class="nav-link g-py-7 g-px-0 g-font-size-13 g-color-white">Về chúng tôi</a>
                                </li>
                                <!-- End Intro -->
                                
                                <!-- Pages -->
                                <li class="nav-item g-mx-10--lg g-mx-15--xl">
                                    <a id="nav-link-pages" class="nav-link g-py-7 g-px-0 g-font-size-13 g-color-white" asp-area="Client" asp-controller="contact" asp-action="Contact">Hỗ trợ</a>
                                </li>
                                <!-- End Pages -->
                            </ul>
                        </div>
                        <!-- End Navigation -->
                    </div>
                    <div class="col-md-2 text-right">
                        <ul class="list-inline text-center text-md-right mb-0">
                            <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Facebook">
                                <a href="#" class="g-color-white-opacity-0_5 g-color-white--hover">
                                    <i class="fa fa-facebook g-font-size-18"></i>
                                </a>
                            </li>
                            <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Skype">
                                <a href="#" class="g-color-white-opacity-0_5 g-color-white--hover">
                                    <i class="fa fa-skype g-font-size-18"></i>
                                </a>
                            </li>
                            <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Twitter">
                                <a href="#" class="g-color-white-opacity-0_5 g-color-white--hover">
                                    <i class="fa fa-twitter g-font-size-18"></i>
                                </a>
                            </li>

                        </ul>
                    </div>
                </nav>
            </div>

        </div>
    </div>
</div>
<!-- End Footer -->
<!-- Copyright Footer -->
<footer class="g-bg-gray-dark-v1 g-color-white-opacity-0_8 g-py-20 footer-copyright-client-new">
    <div class="container">
        <div class="row">
            <div class="col-md-12 g-mb-10 g-mb-0--md">
                <div class="text-center">
                    <small class="d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md">@DateTime.Now.Year &copy; SaveNow All Rights Reserved.</small>
                </div>
            </div>

        </div>
    </div>
</footer>
<!-- End Copyright Footer -->