section.user-faq.px-15
    h1.section-title-endUser Câu hỏi thường gặp
    form.user-faq-form#user-faq-form(action="")
        .user-faq-form__search
            .user-faq-form__search-actions
                input.input-form-control#faq-form-control(type="text", name="contentSearch", placeholder="Từ khóa tìm kiếm", value="") 
                input.input-form-control-reset(type="reset" value="x")
            button.btn.btn-search(type="submit") Tìm kiếm
    .user-faq-filter
        .user-faq-filter-category
            span Danh mục:
            ul
                li.is-active
                    a(href="") Tất cả
                li
                    a(href="") Bắt đầu với SaveNow
                li
                    a(href="") Khẩu vị rủi ro
                li
                    a(href="") Danh mục đầu tư
                li
                    a(href="") Đầu tư và rút tiền
        .user-faq-filter-pagesize
            span Hiển thị
            select.user-faq-filter-pagesize__select.table-filter-actions__pagesize__select#faq-pagesize(name="faq-pagesize")
                option(value="10") 10
                option(value="15") 15
                option(value="20") 20
    .user-faq-view
         table#user-faq-view__table.datatable--endUser.display(style='width:100%')
            tbody
                tr
                    td.user-faq-name Yorem ipsum dolor sit amet
                    td.user-faq-content.style-text-editor Lorem ipsum dolor sit amet, viverra urna integer elit ac facilisis, venenatis massa fringilla commodo, pellentesque hymenaeos a blandit imperdiet conubia ipsum. Nec nulla, dictum wisi donec nascetur esse libero massa. Suspendisse non. Ut viverra in nulla ac, justo eleifend aliquam eu in, phasellus tortor ultricies fusce sapien ante. Praesent amet scelerisque erat. Laoreet lectus eu est nibh magna, nec dictum velit eget lacinia integer, tristique semper ridiculus orci id aliquam leo, at vel. Sed erat, cras augue congue blandit velit. Nullam vestibulum elit. Tellus hendrerit vivamus metus quisque, morbi ipsum suspendisse nulla, mattis aliquam ullamcorper enim, vitae urna ultricies malesuada risus, suspendisse dictumst maecenas placerat.
                tr
                    td.user-faq-name Xorem ipsum dolor sit amet
                    td.user-faq-content.style-text-editor Lorem ipsum dolor sit amet, viverra urna integer elit ac facilisis, venenatis massa fringilla commodo, pellentesque hymenaeos a blandit imperdiet conubia ipsum. Nec nulla, dictum wisi donec nascetur esse libero massa. Suspendisse non. Ut viverra in nulla ac, justo eleifend aliquam eu in, phasellus tortor ultricies fusce sapien ante. Praesent amet scelerisque erat. Laoreet lectus eu est nibh magna, nec dictum velit eget lacinia integer, tristique semper ridiculus orci id aliquam leo, at vel. Sed erat, cras augue congue blandit velit. Nullam vestibulum elit. Tellus hendrerit vivamus metus quisque, morbi ipsum suspendisse nulla, mattis aliquam ullamcorper enim, vitae urna ultricies malesuada risus, suspendisse dictumst maecenas placerat.
                tr
                    td.user-faq-name Worem ipsum dolor sit amet
                    td.user-faq-content.style-text-editor Q1
                        ol 
                            li line 1
                            li line 2
                        ul 
                            li line 3
                            li line 4
                tr
                    td.user-faq-name Qorem ipsum dolor sit amet
                    td.user-faq-content.style-text-editor Q1
                tr
                    td.user-faq-name Porem ipsum dolor sit amet
                    td.user-faq-content.style-text-editor Q1
                tr
                    td.user-faq-name Oorem ipsum dolor sit amet
                    td.user-faq-content.style-text-editor Q1
                tr
                    td.user-faq-name Norem ipsum dolor sit amet
                    td.user-faq-content.style-text-editor Q1
                tr
                    td.user-faq-name Morem ipsum dolor sit amet
                    td.user-faq-content.style-text-editor Q1
                tr
                    td.user-faq-name Lorem ipsum dolor sit amet
                    td.user-faq-content.style-text-editor Q1
                tr
                    td.user-faq-name Korem ipsum dolor sit amet
                    td.user-faq-content.style-text-editor Q1
                tr
                    td.user-faq-name Iorem ipsum dolor sit amet
                    td.user-faq-content.style-text-editor Q1
                tr
                    td.user-faq-name Horem ipsum dolor sit amet
                    td.user-faq-content.style-text-editor Q1
                tr
                    td.user-faq-name Gorem ipsum dolor sit amet
                    td.user-faq-content.style-text-editor Q1
                tr
                    td.user-faq-name Forem ipsum dolor sit amet
                    td.user-faq-content.style-text-editor Q1
                tr
                    td.user-faq-name Eorem ipsum dolor sit amet
                    td.user-faq-content.style-text-editor Q1
                tr
                    td.user-faq-name Dorem ipsum dolor sit amet
                    td.user-faq-content.style-text-editor Q1
                tr
                    td.user-faq-name Corem ipsum dolor sit amet
                    td.user-faq-content.style-text-editor Q1
                tr
                    td.user-faq-name Borem ipsum dolor sit amet
                    td.user-faq-content.style-text-editor Q1
                tr
                    td.user-faq-name Aorem ipsum dolor sit amet
                    td.user-faq-content.style-text-editor  Lorem ipsum dolor sit amet, viverra urna integer elit ac facilisis, venenatis massa fringilla commodo, pellentesque hymenaeos a blandit imperdiet conubia ipsum. Nec nulla, dictum wisi donec nascetur esse libero massa. Suspendisse non. Ut viverra in nulla ac, justo eleifend aliquam eu in, phasellus tortor ultricies fusce sapien ante. Praesent amet scelerisque erat. Laoreet lectus eu est nibh magna, nec dictum velit eget lacinia integer, tristique semper ridiculus orci id aliquam leo, at vel. Sed erat, cras augue congue blandit velit. Nullam vestibulum elit. Tellus hendrerit vivamus metus quisque, morbi ipsum suspendisse nulla, mattis aliquam ullamcorper enim, vitae urna ultricies malesuada risus, suspendisse dictumst maecenas placerat.
                