.user-withdrawal-invest.user-withdrawal-general.px-15
    h1.section-title-endUser Đầu tư
    form.user-form-group.p-15#user-invest-money
        .user-form-control.user-expected-money-amount
            span.user-form-control__title Nhập số tiền muốn đầu tư
            input.input-form-control.form-control-number(type="text", name="amout", required )
            span.warning-message Lỗi
            span.currency đ
        .user-withdrawal-invest__action
            a.btn.btn-actions.is-destroy(href="#") Hủy
            button.btn.btn-actions(type="submit") Đồng ý

