section.transaction-history
  .content
    input(id="manageTransactionInputHidden", type="hidden", value="http://smartfunds-be-net.hn.smartosc.com/admin/customer/List")
    h1.section-title Lịch sử giao dịch
    .transaction-history__sort-form
        #transaction-history-form
            .row
                .col-lg-3
                    .form-group
                        label Họ và tên
                        input.form-control(id="name" name="CustomerName")
                .col-lg-3
                    .form-group
                        label Số điện thoại
                        input.form-control(id="phone" name="PhoneNumber")
                .col-lg-3
                    .form-group
                        label Email
                        input.form-control(id="email" name="EmailAddress")
                .col-lg-3
                    .form-group.table-filter-conditions__select--custom
                        label Loại hình giao dịch
                        select.form-control(id="type" name="TransactionType")
                            option(value="") 1
                            option(value="") 2
                            option(value="") 3
                .col-lg-3
                    .form-group.table-filter-conditions__select--custom
                        label Trạng thái
                        select.form-control(id="status" name="Status")
                            option(value="None") Tất cả
                            option(value="Active") Đang hoạt động
                            option(value="Inactive") Không hoạt động
                .col-lg-3
                    .form-group
                        label Số tiền giao dịch
                        .form-in-line
                            input.form-control.form-control-number(id="money" name="AmountFrom")
                            input.form-control.form-control-number(id="money" name="AmountTo")
                        span Số tiền giao dịch Từ phải nhỏ hơn hoặc bằng Số tiền giao dịch Đến
                .col-lg-3
                    .form-group
                        label Thời gian thực hiện giao dịch
                        .form-in-line
                            input.form-control(id="date-range-from" name="TransactionDateFrom" readonly='readonly' placeholder="Từ")
                            input.form-control(id="date-range-to" name="TransactionDateTo " readonly='readonly' placeholder="Đến")
                .col-lg-3
                    .dt-buttons.btn-part
                        button(type="button") Tìm
        .transaction-history__sort-form-actions
            .transaction-history__sort-form-actions__pagesize
                a() Hiển thị
                select.transaction-history__sort-form-actions__pagesize__select(id="pagesize" name="pagesize")
                    option(value="10") 10
                    option(value="20") 20
                    option(value="30") 30
                span 1 trang
            .transaction-history__sort-form-actions__export.dt-buttons
                a.buttons-csv Xuất
    .transaction-history__table
        .transaction-history__table__overlay.hide
            .transaction-history__table__overlay__spinner.rotating
        form#manage-customer-form(action="")
            +microModal("manage-transaction-modal")
            .transaction-history__table--wrapper