section.invesment-funds__detail
    .content
        .detail-block
            .detail-block__title
                h2 Thông tin chung
                .title-info__btn-wrapper
                    a.edit-table-info(href="/add-invesment-fund.html")
                        i.fa.fa-edit
            .detail-block__content
                .container-fluid
                    .row
                        strong.col-xs-3 Tên quỹ đầu tư
                        p.col-xs-6 Quỹ đầu tư 1
                    .row
                        strong.col-xs-3 Mã quỹ đầu tư
                        p.col-xs-6 QDT1
                    .row
                        strong.col-xs-3 NAV
                        p.col-xs-6 10,500
                    .row
                        strong.col-xs-3 Nội dung
                        p.col-xs-6 Quỹ đầu tư 1 là ...............................................
                    .row
                        strong.col-xs-3 Link liên kết
                        p.col-xs-6 www.qdt1.com