section.customer-target
    .detail-block
        .detail-block__title
            h2 Mục tiêu đầu tư
        .detail-block__content
            .container-fluid
                .row.center-xs
                    .col-sm-6
                        .customer-target__target
                            h3 Mục tiêu
                            .row
                                strong.col-sm-6 Số tiền mục tiêu đầu tư:
                                p.col-sm-6 3.000.000
                            .row
                                strong.col-sm-6 Thời hạn đầu tư
                                p.col-sm-6 6 tháng
                            .row
                                strong.col-sm-6 Tần suất đầu tư
                                p.col-sm-6 1 tháng/ lần
                            .row
                                strong.col-sm-6 Hình thức đầu tư
                                p.col-sm-6 Tự đầu tư
                            .row
                                strong.col-sm-6 Tình trạng
                                p.col-sm-6 Đang đầu tư
                        .customer-target__finished
                            h3 Đã thực hiện
                            .row
                                strong.col-sm-6 Số tiền đã đầu tư:
                                p.col-sm-6 1.000.000
                            .row
                                strong.col-sm-6 Thời hạn đã đầu tư:
                                p.col-sm-6 2 tháng