.manager-settings-introduce {
  #imageIntroduceError {
    display: none;
    position: absolute;
    right: 0;
    bottom: -25px;
    color: red;
    font-size: 14px;
    font-weight: normal;
    text-align: right;
  }
}
