section.userfund-kvrr
    .container-fluid
        .userfund-kvrr__content
            .row
                .col-sm-6.col-lg-4.boxshadow-right
                    .money-record.money-record--blue
                        .block-icon
                            img(src="../../../assets/images/icons/payment-method.svg")
                        .money-record__detail
                            .money-record__info
                                span.amount 230.550.000.000
                                span.item-price VNĐ
                .col-sm-6.col-lg-8
                    .suggest-block
                        h4 Khẩu vị rủi ro 1
                        p.minimize Sẵn sàng chấp nhận : • Một mức độ rủi ro trong đầu tư cao hơn đổi lại khả năng khoản lợi nhuận có thể thu được sẽ nhiều hơn khoản tiền gửi trong trung hoặc dài hạn (tương đương 5 năm) và mong muốn bảo vệ nguồn vốn của bạn khỏi tác động của lạm phát. • Giá trị của nguồn vốn có thể biến động và sụt giảm thấp hơn khoản đầu tư ban đầu. • Biên độ dao động nhiều hơn so với nhà đầu tư “Cẩn trọng”. 
                        a(href="#")
                            img(src="../../../assets/images/icon-change-info.png")    
                            | Thay đổi danh mục đầu tư
            .block-actions
                a.btn.btn-select(href="#")
                    img(src="../../../assets/images/icons/payment-method-2.svg")
                    | Đầu tư
                a.btn.btn-target(href="#")
                    | Mục tiêu

section.userfund-dmdt
    .container-fluid
        h4.block-title Danh mục đầu tư
        table
            thead
                tr
                    th Quỹ
                    th Số lượng
                    th Giá trị
            tbody
                tr
                    th Tên Quỹ 
                        span Title Title Title Title Title Title
                    th 2
                    th.is-active 12.000.000 đ
                        span

                tr
                    th Tên Quỹ
                        span Title
                    th 2
                    th 12.000.000 đ
                        span

                tr
                    th Tên Quỹ
                        span Title
                    th 2
                    th 12.000.000 đ
                        span

                tr
                    th Tên Quỹ
                        span Title
                    th 2
                    th 12.000.000 đ
                        span

                tr
                    th Tên Quỹ
                        span Title
                    th 2
                    th 12.000.000 đ
                        span

                tr
                    th Tên Quỹ
                        span Title
                    th 2
                    th 12.000.000 đ
                        span

            tfoot
                tr
                    th Tổng giá trị đầu tư
                    th
                    th 72.000.000 đ
section.userfund-status 
    p.is-active
        span
        | Giao dịch đã thanh toán
    p
        span
        | Giao dịch đang được xử lý