section.user-data-management-section
    .container-fluid
        .user-data-management
            h2 Quản lý dữ liệu
            .user-data-management__detail
                .user-data-management__detail__items
                    img(src="../../../assets/images/icon-pdf.png", alt="")
                    span Qt1_Report.pdf
                    a(href="#")
                        img(src="../../../assets/images/icon-download.png", alt="")
                .user-data-management__detail__items
                    img(src="../../../assets/images/icon-docx.png", alt="")
                    span Qt1_Report.docx
                    a(href="#")
                        img(src="../../../assets/images/icon-download.png", alt="")
