section.header
    .header__Left#headerLeftArea
        h4#companyFullName SmartFund
        h4.displayNone#companyReduceName SMF
    .header__Right
        .header__toogleIcon#menuToogle
            i.fas.fa-bars
        .header__Notification
            ul
                li
                    .header__Dropdown
                        button 
                            span.far.fa-user-circle
                            span Hello, 
                            span  Nguyễn Hữu Anh Minh
                        .header__Dropdown__Content
                            .header__Dropdown--Links
                                a(href="") Tài khoản của tôi
                                a(href="") Đăng xuất



