section.sidebar
    ul
        li.sidebar__items.current
            a.sidebar__links(href='/manager-customers.html')
                i.fas.fa-users
                span.sidebar__items--Name Khách Hàng
        li.sidebar__items
            a.sidebar__links(href='/manage-risk.html')
                i.fas.fa-copy
                span.sidebar__items--Name KVRR
        li.sidebar__items
            a.sidebar__links(href='/investment-portfolio.html') 
                i.fas.fa-money-check
                span.sidebar__items--Name DMĐT
        li.sidebar__items
            a.sidebar__links(href='/investment-funds.html')
                i.fas.fa-landmark 
                span.sidebar__items--Name Quỹ Đầu Tư
        li.sidebar__items
            a.sidebar__links(href='/transaction-history.html')
                i.fas.fa-passport
                span.sidebar__items--Name Lịch Sử Giao Dịch
        li.sidebar__items
            a.sidebar__links(href='/manager-risk__questions.html') 
                i.far.fa-question-circle
                span.sidebar__items--Name Câu hỏi KVRR
        li.sidebar__items
            a.sidebar__links(href='/trade-balance.html')
                i.fas.fa-balance-scale
                span.sidebar__items--Name Cân Bằng Giao Dịch
        li.sidebar__items
            a.sidebar__links(href='/manager-frequent-question.html')
                i.far.fa-question-circle
                span.sidebar__items--Name Câu Hỏi Thường Gặp    
        li.sidebar__items
            a.sidebar__links(href='/manage-user.html')
                i.fas.fa-address-card
                span.sidebar__items--Name Quản Lý Admin
        li.sidebar__items.sidebar__Dropdown
            a.sidebar__links(href='#') 
                i.fas.fa-cogs
                span.sidebar__items--Name Các Trang CMS & Cài Đặt
                i.fas.fa-angle-down
                .sidebar__items--Name.sidebar__Submenu 
                    a Sửa Email cập nhật giá trị tài sản KH
                    a Sửa Email cập nhật giá trị Quỹ
                    a Sửa trang Liên hệ
                    a Sửa trang Giới thiệu chung
                    a Sửa email template                                       
            ul.sidebar__Dropdown--Wrapper
                li
                    a Sửa Email cập nhật giá trị tài sản KH
                li
                    a Sửa Email cập nhật giá trị Quỹ
                li
                    a Sửa trang Liên hệ
                li
                    a Sửa trang Giới thiệu chung
                li
                    a Sửa email template                                       
        li.sidebar__items
            a.sidebar__links(href='/manager-customers.html')
                i.fas.fa-cogs
                span.sidebar__items--Name Quản lý khách hàng
