section.about-us-section
    .about-content
        .content-breadcrumb
            .container-fluid
                h2.content-breadcrumb__title Về chúng tôi
                p.content-breadcrumb__description Pharetra turpis elit, leo aenean, nulla aliquam. Sociosqu ullamcorper scelerisque semper, vehicula eu
        .content-mission
            p.content-mission__quote SỨ MỆNH CỦA SMARTFUND
            h3.content-mission__title Lorem ipsum dolor sit amet
            p.content-mission__description Lorem ipsum dolor sit amet, non arcu id vivamus sed, volutpat blandit corrupti, mattis metus rhoncus ac.
        .content-vision
            .container-fluid
                .content-vision__items
                    .content-vision__items__banner
                        img(src="../../../assets/images/about-vision-image.jpg", alt="")
                    .content-vision__items__content.content-vision__items__content--change
                        h4 Chúng tôi là...
                        p Class sodales nam felis at, incididunt eget luctus sed, lectus nulla integer ac, ante aliquam habitasse risus tristique. Volutpat sapien justo pellentesque, interdum ante nonummy diam nisl, inceptos turpis posuere dapibus, aliquet maecenas dui maecenas in. Et eget blandit vehicula vitae, suscipit malesuada aenean aliquet in. 
                        p Nam nunc tempus nunc, amet magnis a nunc massa. Morbi in vulputate suspendisse sit, dignissim quam pharetra id, nibh ac pede inceptos vulputate. Dictum orci arcu aliquam quisque, varius nec et tellus pellentesque, suspendisse lorem pede pede, arcu scelerisque est rhoncus. 
                        p Fermentum tortor condimentum et sapiente, metus est nec nibh ligula, donec sem ullamcorper facilisis. Commodo justo nisl et ipsum, sed egestas dictumst sit, mauris est velit feugiat libero, a nulla interdum mi dictum.
                .content-vision__items
                    .content-vision__items__banner.content-vision__items__banner--change.content-vision__items__order-2
                        img(src="../../../assets/images/about-vision-image.jpg", alt="")
                    .content-vision__items__content.content-vision__items__order-1
                        h4 Tầm nhìn của Smartfund
                        p Class sodales nam felis at, incididunt eget luctus sed, lectus nulla integer ac, ante aliquam habitasse risus tristique. Volutpat sapien justo pellentesque, interdum ante nonummy diam nisl, inceptos turpis posuere dapibus, aliquet maecenas dui maecenas in. Et eget blandit vehicula vitae, suscipit malesuada aenean aliquet in. 
                        p Nam nunc tempus nunc, amet magnis a nunc massa. Morbi in vulputate suspendisse sit, dignissim quam pharetra id, nibh ac pede inceptos vulputate. Dictum orci arcu aliquam quisque, varius nec et tellus pellentesque, suspendisse lorem pede pede, arcu scelerisque est rhoncus. 
                        p Fermentum tortor condimentum et sapiente, metus est nec nibh ligula, donec sem ullamcorper facilisis. Commodo justo nisl et ipsum, sed egestas dictumst sit, mauris est velit feugiat libero, a nulla interdum mi dictum.
        .content-human
            .container-fluid
                h4.content-human__title Và những con người tạo lên Smartfund
                .content-human__slide
                    .content-human__slide__items
                        .items-detail   
                            .items-detail__img
                                img(src="../../../assets/images/about-human-image.png", alt="") 
                            .items-detail__profile
                                p.items-detail__profile__title Your Name
                                p.items-detail__profile__position FOUNDER
                    .content-human__slide__items
                        .items-detail   
                            .items-detail__img
                                img(src="../../../assets/images/about-human-image.png", alt="") 
                            .items-detail__profile
                                p.items-detail__profile__title Your Name
                                p.items-detail__profile__position FOUNDER
                    .content-human__slide__items
                        .items-detail   
                            .items-detail__img
                                img(src="../../../assets/images/about-human-image.png", alt="") 
                            .items-detail__profile
                                p.items-detail__profile__title Your Name
                                p.items-detail__profile__position FOUNDER
                    .content-human__slide__items
                        .items-detail   
                            .items-detail__img
                                img(src="../../../assets/images/about-human-image.png", alt="") 
                            .items-detail__profile
                                p.items-detail__profile__title Your Name
                                p.items-detail__profile__position FOUNDER
                                p aaa
                    