section.login
    .login__Wrapper
        .container-fluid
            h1.section-title Đăng nhập
            form(action="")
                .row.center-xs
                    .col-sm-6
                        .form-group
                            label Tên
                            input#login__user-name.form-control(name="login__user-name")
                        .error-messeage Lỗi
                        .form-group#login__password
                            label Password
                            input(type='password').form-control(name="login__password")
                            i.fas.fa-eye.login__ShowPassword
                        .error-messeage Lỗi
                        .tn-part.btns-wrapper-center
                            button.btn.btn-action(type="submit") Đăng nhập
                            span.error-messeage Lỗi
                        a(href="") Quên mật khẩu?