section.headerUser
    .container-fluid
        .content-details
            .show-desktop-header 
                .desktop-header
                    .logo
                        a(href="/")
                            img(src="../../../assets/images/logo_sn.png", alt="logo") 
                    nav.main-menu
                        ul
                            li.menu-items
                                a(href="/user-about-us.html") Về Chúng Tôi 
                            li.menu-items
                                a(href="/user-contact.html") Hỗ Trợ
                            //- li.menu-items
                            //-     a(href="/user_login.html") Đăng Nhập
                            //- li.menu-items
                            //-     a.special(href="/user_resgister.html") Đăng ký 
            .show-mobile-header
                .mobile-header
                    .mobile-top-header 
                        .logo-mobile
                            a(href="/")
                                img(src="../../../assets/images/logo_sn.png", alt="logo") 
                        .login-button
                            a(href="/user_login.html")
                                span Đăng nhập
                                img(src="../../../assets/images/user-login.png", alt="")



