section.manage-riskDetail
    .detail-block
        .detail-block__title
            h2 Thông tin KVRR1
            .title-info__btn-wrapper
                a.edit-table-info(href="/add-manage-risk.html")
                    i.fa.fa-edit
        .detail-block__content
            .container-fluid
                .row
                    strong.col-sm-3 Tên Khẩu Vị Rủi Ro
                    p.col-sm-6 Khẩu vị rủi ro 1
                .row
                    strong.col-sm-3 Nội Dung
                    p.col-sm-6 Khẩu vị rủi ro 1 là....
                .row
                    strong.col-sm-3 Danh Mục Đầu Tư
                    p.col-sm-6 DMĐT1
                .row
                    strong.col-sm-3 Ảnh Đại Diện
                    p.col-sm-6
                        img(src="https://www.w3schools.com/w3css/img_lights.jpg" height="200" width="100")