section.investment-portfolio__add
    .container-fluid
        .content
            h1.section-title Thêm sửa quỹ đầu tư
            form(action="")
                .row.center-xs
                    .col-sm-6
                        .form-group
                            label Tên quỹ đầu tư
                            input.form-control(type="text")
                        .form-group
                            label Mã quỹ đầu tư
                            input.form-control(type="text")
                        .form-group
                            label NAV
                            input.form-control(type="text")
                        .form-group
                            label Nội dung
                            textarea.form-control(type="text")
                        .form-group
                            label Link liên kết
                            input.form-control(type="text")
                        .tn-part.btns-wrapper-center
                            button.btn.btn-action(type="submit") Xác nhận
                            a.btn.btn-action Quay lại