section.investment-portfolio
    .content
        h1.section-title CÂN BẰNG GIAO DỊCH QUỸ 
        .table-filter-actions
            .table-filter-actions__item.table-filter-actions__pagesize
                a() Hiển thị
                select.table-filter-actions__pagesize__select(id="pagesize" name="pagesize")
                    option(value="10") 10
                    option(value="20") 20
                    option(value="30") 30
                span 1 trang
            .table-filter-actions__item.table-filter-actions__export.dt-buttons
                button.buttons-csv Xuất
        table#trade-balance-table.display(style='width:100%')
            thead
                tr
                    th STT
                    th Mã quỹ
                    th Tên quỹ
                    th Số lượng CCQ đầu tư
                    th Tổng số tiền đầu tư
                    th Số lượng CCQ quỹ rút ra
                    th Tổng số tiền rút ra
                    th Số tiền sau CBGD
            tbody
                tr
                    td 1
                    td 
                        a(href="/trade-balance-detail.html") Q1
                    td Q1
                    td 2
                    td 1,000,000
                    td 1
                    td 800,000
                    td 200,000
                tr
                    td 1
                    td 
                        a(href="/trade-balance-detail.html") Q1
                    td Q1
                    td 2
                    td 1,000,000
                    td 1
                    td 800,000
                    td 200,000
                tr
                    td 1
                    td 
                        a(href="/trade-balance-detail.html") Q1
                    td Q1
                    td 2
                    td 1,000,000
                    td 1
                    td 800,000
                    td 200,000
                tr
                    td 1
                    td 
                        a(href="/trade-balance-detail.html") Q1
                    td Q1
                    td 2
                    td 1,000,000
                    td 1
                    td 800,000
                    td 200,000
                tr
                    td 1
                    td 
                        a(href="/trade-balance-detail.html") Q1
                    td Q1
                    td 2
                    td 1,000,000
                    td 1
                    td 800,000
                    td 200,000
                tr
                    td 1
                    td 
                        a(href="/trade-balance-detail.html") Q1
                    td Q1
                    td 2
                    td 1,000,000
                    td 1
                    td 800,000
                    td 200,000
                tr
                    td 1
                    td 
                        a(href="/trade-balance-detail.html") Q1
                    td Q1
                    td 2
                    td 1,000,000
                    td 1
                    td 800,000
                    td 200,000
                tr
                    td 1
                    td 
                        a(href="/trade-balance-detail.html") Q1
                    td Q1
                    td 2
                    td 1,000,000
                    td 1
                    td 800,000
                    td 200,000
                tr
                    td 1
                    td 
                        a(href="/trade-balance-detail.html") Q1
                    td Q1
                    td 2
                    td 1,000,000
                    td 1
                    td 800,000
                    td 200,000
                tr
                    td 1
                    td 
                        a(href="/trade-balance-detail.html") Q1
                    td Q1
                    td 2
                    td 1,000,000
                    td 1
                    td 800,000
                    td 200,000
                //- tr
                //-     td 1
                //-     td 
                //-         a(href="/trade-balance-detail.html") Q1
                //-     td Q1
                //-     td 2
                //-     td 1,000,000
                //-     td 1
                //-     td 800,000
                //-     td 200,000
                //- tr
                //-     td 1
                //-     td 
                //-         a(href="/trade-balance-detail.html") Q1
                //-     td Q1
                //-     td 2
                //-     td 1,000,000
                //-     td 1
                //-     td 800,000
                //-     td 200,000
                //- tr
                //-     td 1
                //-     td 
                //-         a(href="/trade-balance-detail.html") Q1
                //-     td Q1
                //-     td 2
                //-     td 1,000,000
                //-     td 1
                //-     td 800,000
                //-     td 200,000
                //- tr
                //-     td 1
                //-     td 
                //-         a(href="/trade-balance-detail.html") Q1
                //-     td Q1
                //-     td 2
                //-     td 1,000,000
                //-     td 1
                //-     td 800,000
                //-     td 200,000
                //- tr
                //-     td 1
                //-     td 
                //-         a(href="/trade-balance-detail.html") Q1
                //-     td Q1
                //-     td 2
                //-     td 1,000,000
                //-     td 1
                //-     td 800,000
                //-     td 200,000
                //- tr
                //-     td 1
                //-     td 
                //-         a(href="/trade-balance-detail.html") Q1
                //-     td Q1
                //-     td 2
                //-     td 1,000,000
                //-     td 1
                //-     td 800,000
                //-     td 200,000