section.user-error-section
    .user-error-content
        img(src="../../../assets/images/error-icon.png", alt="")
        h1 Giao dịch không thành công
        a(href="/user_wallet.html")
            span Quay lại 
            span trang tài khoản