section.about-us-section
    .about-content
        .about-content__breadcrumb
            .about-content__breadcrumb__image 
                picture 
                    source(media="(max-width: 767px)", srcset="../../../assets/images/about-breadcrumb-bg-mobile.png")
                    img(src="../../../assets/images/about-breadcrumb-bg.png", alt="")
        .about-content__human
            .container-fluid
                .about-content__human__content
                    p 
                        span.important-content SaveNow 
                        span là một ứng dụng đầu tư hướng tới số đông người Việt, được sáng lập bởi chính những người Việt có kinh nghiệm thực tiễn, lâu năm trên thị trường tài chính. Bắt đầu bởi những ý tưởng đơn giản: chúng ta có tiền nhưng không có nhiều thời gian tìm hiểu để đầu tư sinh lãi, chúng ta cần một nơi để tiền tin tưởng có thể sinh lãi mà vẫn đảm bảo vốn gốc, chúng ta muốn đầu tư minh bạch với thủ tục đơn giản nhất và rút tiền bất cứ lúc nào chúng ta muốn. 
                    p Tất cả những ý tưởng trên đưa chúng ta đến với 
                        span.important-content SaveNow: 
                    p - Chúng tôi có những chuyên gia giỏi nhất trong lĩnh vực tài chính cùng các công nghệ AI phân tích thị trường để đưa ra “danh mục đầu tư tối ưu” cho khoản đầu tư của Bạn. 
                    p - Chúng tôi đã đầu tư sẵn vào các quỹ mở uy tín theo các danh mục đầu tư tối ưu để có lợi nhuận tốt hơn. Bạn không cần phải tự mở tài khoản riêng để bắt đầu với số tiền lớn hàng trăm triệu đầu tư vào các quỹ. Hãy tham gia cùng chúng tôi ngay từ bây giờ. 
                    p - Chúng tôi được đảm bảo bởi ngân hàng uy tín, nơi mà tiền của bạn được đầu tư một cách minh bạch với điểm đầu từ bạn và điểm cuối chỉ là các quỹ mở đã được công bố theo danh mục đầu tư; Không ai rút được tiền đầu tư của Bạn từ ngân hàng, trừ chính Bạn. 
                    p - Chúng tôi mua nhiều chứng chỉ quỹ (CCQ) của các quỹ mở uy tín, quyền sở hữu tài sản của Bạn được xác định rõ ràng bằng số lượng CCQ và định giá của CCQ mà Bạn đã đầu tư. Hãy yên tâm, định giá của CCQ đối với các quỹ mở theo thực tế thị trường được mua từ bên thứ 3 có uy tín, không ai có thể tự thay đổi giá trị của CCQ.
                    p - Chúng tôi bán CCQ của Bạn sở hữu khi Bạn muốn rút tiền; đừng lo lắng về người mua bởi luật quy định các quỹ mở bắt buộc phải mua lại CCQ của mình. 
                    p - 
                        span.important-content Tích tiểu thành đại, 
                        span khi chúng ta bắt đầu - Bạn sẽ không muốn chúng ta dừng lại. 
                    p Hãy tập trung thời gian cho công việc Bạn kiếm được nhiều tiền nhất, việc tích lũy hãy để những chuyên gia giỏi nhất của chúng tôi thực hiện
        